<html>
    <head>
        <title>
            o, hello there
        </title>
    </head>

    <body>
        <form action="{% url 'send_numbers' %}", method="POST">
            {% csrf_token %}
            <h3>
                Hello world! Solving quadratic equation of type: AX^2 + BX + C = 0
            </h3>
            Input some numbers: <br>
            <input placeholder="Number A" name="A"><br>
            <input placeholder="Number B" name="B"><br>
            <input placeholder="Number C" name="C"><br>
            <button type="submit">Send</button>
        </form>
        <h3>
            Solve of quadratic equation: <br> {{ output }}
        </h3>
    </body>
</html>